@media (max-width: 1192px) {
  #feature .column {
    padding: 5rem 3.6rem;
  }

  #course .card .card-footer {
    display: block;
  }
}

@media (max-width: 992px) {
  .navbar {
    padding: 3rem 0 1rem 0;
  }

  #header .row .right {
    margin-top: 3rem;
  }
}

@media (max-width: 930px) {
  #feature .column {
    padding: 4.5rem 2.6rem;
  }
}

@media (max-width: 765px) {
  #feature .column {
    padding: 5rem;
  }

  #course .card-group {
    flex-direction: column;
  }

  #course .card .card-footer {
    display: flex;
  }

  #testimonial .carousel-item {
    padding: 6rem 0 0 0;
  }

  #footer {
    padding-top: 2rem;
  }

  #footer .container {
    display: block;
  }

  #footer .left {
    text-align: center;
    padding: 5rem;
  }
}

@media (max-width: 520px) {
  #footer .left {
    padding: 2rem;
  }
}

@media (max-width: 450px) {
  .navbar {
    padding: 3rem 0 1rem 0;
  }

  .navbar-brand {
    max-width: 60%;
  }

  #course .card .card-footer {
    display: block;
  }

  #testimonial .carousel-item .person {
    width: 10rem;
  }

  #footer .left {
    padding: 0;
  }
}

@media (max-width: 350px) {
  #footer .right .col {
    margin-top: 3.5rem;
  }
}
